<div class="page-hero__none"></div>

<div id="content" class="page-package">
  <section class="page-section">
    <div class="container clearfix">
      <div class="section-header">
        <h2>Privacy Policy</h2>
        <p></p>
      </div>
      <div class="package-content" >
        
        <div class="section-content">
          <p> HQbe ("HQbe" "we" or "us") recognises the importance of protecting personal details and information. This privacy
            policy ("Privacy Policy") describes and will help you un-derstand how HQbe collects, uses and discloses your information
            in connection with providing you with access to and use of our website www.hqbe.in and any subdo-mains of our website
            or other selected domains, ("Website"), our social media page/ s and our mobile application ("App"). Our App enable
            you to search for products and make reservations for placing orders with licensed restaurants/ hotels ("Service").
            We understand that you care how information about you is used and shared and we ap-preciate your trust that we will
            do so carefully and sensibly. This Privacy Policy de-scribes our practices in connection with privacy and the Personally
            Identifiable Infor-mation (as defined below) that we collect through the Website and/or App. Except as indicated
            below, this Privacy Policy does not address the collection, use or disclosure of information by any of our affiliates
            or by other third parties on any websites other than the Website and/or App.</p>
          <p>By accessing and/or using the Website and/or App , you agree to all the terms and conditions of this Privacy Policy.
            We may change this Privacy Policy from time to time and without prior notice. If we make a change to this Privacy
            Policy, it will be effective as soon as we post it, and the most current version of this Privacy Policy will always
            be posted under the Privacy Policy tab of the Website and/or App. If we make a material change to this Privacy Policy,
            we may notify you. You agree that you will check out this Privacy Policy periodically. By continuing to access and/or
            use the Website and/or App after we make changes to this Privacy Policy, you agree to be bound by the revised Privacy
            Policy. You agree that if you do not agree to the new terms of the Privacy Poli-cy, you will stop using the Website
            and/or App.</p>
          <h3>Information We Collect Through Website and/or App</h3>
          <p>Personally Identifiable Information (or "PII") means and includes information that identifies you as an individual. In order for you to take advantage of particular opportunities provided through the Website and/or App (for example, to use the Services offered on the Website and/or App ), we may require that you furnish PII. For example, we may ask you to complete a registration form that asks for contact information such as name, date of birth, address, telephone / mobile number, and e-mail address or an order form that asks for financial information like credit card number, expiration date, security code / CVV number and billing address, The PII data collected by HQbe during a transaction(financial or other) will be used only for HQbe re-marketing purposes and we declare that we will not sell or give that data to any publisher/vendor and it includes Facebook, Instagram and Google.
            </p>
          <p>Additionally, when you reserve any Products on the App, we may collect certain con-sumer information (such as products
            ordered and relevant promotion codes) and ser-vice redemption information (Number of guests, booking for self or
            others, in case the booking is made of behalf of some other person then the name, email and mobile number of the
            person who will actually redeem the services, any special announce-ment, service redemption date & time). If you
            communicate with us by e-mail, or other-wise complete online forms, surveys, or contest entries, any information
            provided in such communication may be collected as PII. You may choose not to provide us with certain personal information.
            In such an event, you can still access and view much of the Website and/or App; however, you may not be able to reserve
            any products. In addi-tion, you can choose not to provide certain optional information, but then you might not be
            able to take full advantage of many of the features on the Website and/or App. Note that at no point in time will
            your security code / CVV number of your credit card be stored by HQbe or its third party payment gateway.
          </p>
          <p>Non-Personally Identifiable Information (or "Non-PII") is aggregated information, demo-graphic information and any
            other information that does not reveal your specific identi-ty. We and our third party service providers may collect
            your Non-PII, including infor-mation about the device you are using in accessing and/or using the Website and/or
            App, information from referring websites, and your interaction with the Website and/or App. We and our third party
            service providers also may aggregate PII in a manner such that the end-product does not personally identify you or
            any other user of the Website and/or App, for example, by using PII to calculate the percentage of our users who
            re-sides in a particular area.</p>
          <p>A cookie is a small piece of data that is sent to your Internet browser and stored on your computer’s hard drive, and
            that delivers information about you and your activity on a web browser so it can be later read back from that browser
            . Pixel tags and web bea-cons are small graphic files that can function in various ways (such as allowing us to track
            how you view an email that we send you, and track your activity on the web browser ) and are commonly used in conjunction
            with cookies. We, our third party ser-vice providers and other third parties detailed below under "How We Use The
            Infor-mation We Collect", may use cookies, pixel tags, web beacons, and other similar tech-nologies to better serve
            you with more tailored information and facilitate your ongoing use of the Website and/or App. If you do not want
            information collected through the use of cookies, there is a simple procedure in most browsers that allows you to
            decline the use of cookies. Cookies take up minimal room on your device and cannot damage your device’s files. Cookies
            work by assigning a number to the user that has no mean-ing outside of the assigning website.</p>
          <p>Tracking information is automatically collected and stored as you navigate through the Website and/or App, including
            but not limited to, browser type, page views, Internet Pro-tocol address ("IP Address"), referring/exit pages, information
            about how you interact with the Website’s pages and third party links, and traffic and usage trends on the Website.</p>
          <p>IP Addresses are the Internet Protocol addresses of the computer and/or mobile that you are using. Your IP Address
            is automatically assigned to the computer that you are using by your internet service provider ("ISP"). Your IP Address
            is identified and logged automatically in our server log files whenever you visit the Website and/or App, along with
            the time(s) of your visit(s) and the page(s) of the Website and/or App that you visit-ed. Collecting IP Addresses
            is standard practice on the Internet and is done automati-cally by many websites.</p>
          <p>When you use the App through your smart phone or other mobile device, we automati-cally collect the device type and
            advertising identifier, a unique identifier generated within the device, and we may store this information.
          </p>
          <h3>Applicable Laws</h3> In this Privacy Policy, the term "Applicable Laws" shall mean all statutes, enactments, acts of
          legislature or parliament, ordinances, rules, bye-laws, regulations, notifications, guidelines, policies, directions,
          directives and orders of any government, statutory au-thority, regulatory authority, tribunal, board or court in India.
          How We Use The Information We Collect
          <p>Personally Identifiable Information</p>
          <p>We and our third party service providers may use your PII and any third party PII that you may provide, as applicable:
          </p>
          <ol>
            <li> to fulfill your requests, e.g., to allow you to reserve products offered through our partners or to provide you with
              information that you request;</li>
            <li>to fulfill your purchases (e.g., to process payments in connection with your order);</li>
            <li>to serve you the correct App version depending on your device type;</li>
            <li>to customize content on our Website and App (e.g., the restaurant/ hotel that will serve near to your location);
            </li>
            <li>to send you important information regarding the Website and App, such as certain changes to our terms, conditions,
              policies and/or other administrative information. Because this information may be material to your use of the Website
              and/or App, you may not opt-out of receiving such communications;</li>
            <li>to permit you to participate in contests and other promotions either initiated by HQbe or by any of its third party
              affiliates (collectively, "Promotions");</li>
            <li>to inform you of products, programs, Services and Promotions that we believe may be of interest to you;</li>
            <li>to engage with you through social media, including through direct messaging;</li>
            <li>to allow you to rate your reservations/ bookings and view your reservation/ booking history; and to suggest other
              products that you might like based on your reserva-tion/ booking history;</li>
            <li>to engage with you in online survey/ s and use the data collected through such survey to enhance your experience
              with our Website and/or App;</li>
            <li>to diagnose and resolve problems with our Website and/or App or servers and for other technical and administrative
              troubleshooting purposes;</li>
            <li> for our internal business purposes, such as data analysis, audits, developing new products, enhancing our website,
              improving our Services, identifying usage trends and determining the effectiveness of our promotional campaigns;
              and
            </li>
            <li>for providing you uninterrupted and satisfactory Services, to administer our rela-tionship with you, to comply with
              any statutory or regulatory requirement, to moni-tor your use of our Services for the purposes of ensuring compliance
              with our user rules.</li>
          </ol>
          <h3>Non-Personally Identifiable Information</h3>
          <p>Because your Non-PII does not personally identify you, we and our third party service providers may use such information
            for any purpose. In addition, we reserve the right to share your Non-PII with our affiliates and with other third
            parties, for any purpose. In some instances, we and our third party service providers may combine Non-PII with PII.
            For example, on your personal profile page, we may display your user name (first name and last initial), "member
            since" date, and the date range of when you last ordered. If we do combine any Non-PII with PII, the combined information
            will be treated by us as PII hereunder (as long as it is so combined).</p>
          <h3>IP Addresses</h3>
          <p>We and our third party service providers use IP addresses for purposes such as calcu-lating Website usage levels, diagnosing
            server problems, and administering the Web-site. Please note that we treat IP addresses, server log files and related
            information as Non-PII, except where we are required to do otherwise under Applicable Laws. Accord-ingly, in general
            we may use and disclose IP Addresses for all the purposes for which we use and disclose PII.</p>
          <h3>When &amp; How We Share Your Information</h3>
          <p>We and our third party service providers may disclose PII:</p>
          <ol>
            <li> as required to fulfill your booking (e.g. to our partner restaurant/ hotel to enable them to fulfill your booking;
              · to provide services such as third party payment processing, website hosting, data analysis, infrastructure provision,
              IT services, customer service, e-mail delivery ser-vices, and other similar services, to enable them to provide
              services; </li>
            <li>to identify you to any person to whom you send messages through the Website and/or App; </li>
            <li>to third parties sponsors of Promotions (irrespective of whether such Promotions are hosted by us), or otherwise
              in accordance with the rules applicable to such Promo-tions. You should carefully review the rules, if any, of
              each Promotion in which you participate, as they may contain additional important information about our, a spon-sor’s
              and/or other third parties’ use of your PII. To the extent that the rules of those Promotions concerning the treatment
              of your PII conflict with this Privacy Policy, the rules of those Promotions shall control; </li>
            <li> to an affiliate or other third party in the event of any reorganization, merger, sale, joint venture, assignment,
              transfer or other disposition of all or any portion of our business, assets or stock (including without limitation
              in connection with any bank-ruptcy and/or similar proceedings); and</li>
            <li>as we believe to be appropriate: (a) under Applicable Laws; (b) to comply with legal process; (c) to respond to requests
              from public and government authorities; (d) to enforce our terms and conditions; (e) to protect our operations
              and/or those of any of our affiliates; (f) to protect our rights, privacy, safety and/or property, and/or that
              of our affiliates, you and/or others; (g) to permit us to pursue available remedies and/or limit the damages that
              we may sustain; and (h) for record keeping purposes.
            </li>
          </ol>
          <h3 style="border:none">
            <b>Other Important Notices Regarding Our Privacy Practices</b>
          </h3>
          <h3>Third Party Websites</h3>
          <p>Except as expressly set forth herein, this Privacy Policy does not address, and neither we nor our third party service
            providers are responsible for the privacy, information or other practices of other websites and/or any third parties,
            including without limitation any of our affiliates and/or any third party operating any website to which the Website
            and/or App contains a link. The inclusion of a link to a third party website on the Web-site and/or App does not
            imply endorsement of the linked website by us or by our affili-ates. Please note that your access and/or use of any
            third party websites, including by providing any information, materials and/or other content to such websites, is
            entirely at your own risk.</p>
          <h3>Security</h3>
          <p>We and our third party service providers use reasonable organizational, technical and administrative measures to protect
            PII under our control. Whenever you change or ac-cess your account information, we offer the use of a secure server.
            Once your infor-mation is in our possession we adhere to strict security guidelines, protecting it against unauthorized
            access. Unfortunately, no data transmission over the Internet or data storage system can be guaranteed to be 100%
            secure. Please do not send us sensitive information through email. If you have reason to believe that your interaction
            with us is not secure (for example, if you feel that the security of any account you might have with us has been
            compromised), you must immediately notify us of the problem by con-tacting us in accordance with the "Contacting
            Us" section below. (Note that if you choose to notify us via physical mail, this will delay the time it takes for
            us to respond to the problem.)</p>
          <h3>Unsubscribe</h3>
          <p>If you do not wish to receive marketing-related emails from us, you may unsubscribe from receiving them by clicking
            on the "unsubscribe" link at the bottom of any of those emails.</p>
          <h3>Changing PII</h3>
          <p>You may review, correct and/or update certain elements of your PII by adjusting your preferences in the "My Account"
            section of our Website and/or App. We and our third party service providers are not responsible for altering PII
            from the databases and/or other records of third parties with whom we and our third party service providers have
            shared your PII.</p>
          <h3>Retention Period</h3>
          <p>We and our third party service providers will retain PII for the period reasonably neces-sary to fulfill the purposes
            outlined in this Privacy Policy, unless a longer retention pe-riod is required or permitted by law.</p>
          <h3>Note Regarding the Use of the Website and/or App by Minors</h3>
          <p>The Website and App are not directed to and/or intended for use by individuals under the age as mentioned under Applicable
            Laws of their jurisdiction in which you reside and (if different) in the jurisdiction in which you are accessing
            the site and we request that such individuals do not use the Website and App and/or not to provide PII through the
            Website and App. We do not intend to collect personal information from any indi-viduals under the legal age, or to
            market our Website and App to anyone under the le-gal age. If we receive notice or believe that someone under the
            legal age has provided us with personal information we will make every reasonable effort to remove such per-sonal
            information from our records, or to flag such personal information and (to the ex-tent permitted by law) retain it
            for the sole purpose of ensuring that it is no longer used</p>
          <h3>Portfolio permissions</h3>
          <p>If you have given permission to receive communications about HQbe portfolio general-ly (for example, by opting to receive
            news and special offers by email about HQbe’s new additions), you may from time to time receive communications about
            it to which you have not opted in specifically. Information about many of HQbe’s portfolio services/ products can
            be found at
            <a href="http://www.hqbe.in"> www.hqbe.in</a>.</p>
          <p>Providing general permission for us to communicate with you about our portfolio does not mean that you will receive
            communications about all of HQbe’s portfolio. We will only communicate with you about those product/ services that
            we think may be of par-ticular interest to you. Any such communications will provide you with an opportunity to unsubscribe
            from HQbe portfolio.</p>
          <h3>Disclaimer</h3>
          <p>If you choose to access the Website and/or App, you do so at your own risk, and are responsible for complying with
            Applicable Laws. We may limit the availability of the Website and/or App, in whole or in part, to any person, geographic
            area and/or jurisdic-tion we choose, at any time and in our sole discretion.</p>
          <h3>Consent</h3>
          <p>By using the Website and/or App and/or by providing your information, you consent to the collection and use of the
            information you disclose on the Website and/or App in accordance with this Privacy Policy, including but not limited
            to your consent for shar-ing your information as per this Privacy Policy.</p>
          <h3>Contacting Us</h3>
          <p>If you have any questions regarding this Privacy Policy, please contact us by e-mail at
            <a href="mailto:support@hqbe.in">support@hqbe.in</a>
          </p>  
        </div>
      </div>
  
    </div>
  </section>
</div>