<div class="page-hero__none"></div>

<div id="content" class="page-package">
  <section class="page-section">
    <div class="container clearfix">
      <div class="section-header">
        <h2>Refer N Earn</h2>
        <p></p>
      </div>
      <div class="package-content" >
        <div class="section-header">
          <h2></h2>
          <p class="section-header__info"></p>
        </div>
        <div class="section-content">
          <p>Sharing is fun now! Enjoy an absolutely free Trip with every two referral. Way for it.</p>

          <p>You complete 1 trip for yourself & Your two referrals complete their trips</p>
          <p>Your next trip is complimentary from us..Hip Hip Hurray!!</p>

          <p><input type="text" (click)="copyToClipboard()" class="form-control text-center mb-2 mt-3" readonly value="Your Referral Code is {{referralCode}}, Click to Copy to Clipboard" placeholder="Referral Code"></p>
          <input type="text" style="display: none;" id="referral-code-input" value="{{referralCode}}" />
          <h3>Rules -</h3>
          <ul>
            <li>At least two persons are required for each booking</li>
            <li>Solo Trip shall not be counted under this scheme</li>
            <li>Bookings made by referrals are to be completed within 90 days of the 1st trip of referrer </li>
            <li>On successful completion of the above mentioned process, the Referrer will get the Free Holiday coupon which will be Valid for 1 person (The Referrer) only</li>
            <li>Coupon value shall be equivalent to the least booking amount spent per person during your or referral’s trip</li>
            <li>Applicable on any package</li>
            <li>Valid for 90 days from the issuance date</li>
            <li>Minimum two persons booking required to use the coupon</li>
            <li>Non transferrable & shall not be renewed further if not used</li>
          </ul>
          
          <h3>Discretion - </h3>
          <p>HQbe reserves the right to change the terms, conditions and notices under which the Refer & Earn Services are offered without any prior notice to the user.</p>
        </div>
      </div>
    </div>
  </section>
</div>