<div class="page-hero__none"></div>

<div id="content" class="page-package">
  <section class="page-section">
    <div class="container clearfix">
      <div class="section-header">
        <h2>PhonePe Login</h2>
        <p></p>
      </div>
      
      <div class="custom-form login-form">
        <form >
          
          <div class="row">
            <div class="col-md-6 col-sm-12">
              
              <p>Please wait.. logging you in..</p>
              
            </div>
          </div>

          

        </form>

      </div>
    </div>
  </section>
</div>