<div class="page-hero__none"></div>

<div id="content" class="page-package">
  <section class="page-section">
    <div class="container clearfix">
      <div class="section-header">
        <h2>FAQ</h2>
        <p></p>
      </div>
      <div class="package-content" >
        <div class="section-header">
          <h2>Introduction</h2>
          <p class="section-header__info"></p>
        </div>
        <div class="section-content">
          <h3>What is HQbe & How It Is Different From Other Online Travel Platforms?</h3>
          <p>
            HQbe name is derived from Hip Hip Hurray is an inter-alia to ‘friends having fun together’. Launched in 2017, the online platform provides offerings towards Weekender Getaways; Leisure Holiday Packages; Music Events & Entertainment along with Food & Beverage offers.
            HQbe helps the individuals and group to plan for a hassle-free Weekender Getaway or Leisure Holiday wherein we empanel the verified genuine and reviewed local suppliers who are already trusted by other guests.
            
            Reason to be there with HQbe is that we continuously focus on curating/ adding new experiences for the ‘Life Beyond Work’ along with this we also try to discover & put forward the Native Experiences from around the corners to our patrons and giving them the reasons to cheer it loud Hip Hip Hurray!!!          
          </p>
          <h3>How does HQbe function?</h3>
          <p>HQbe being an online marketplace, connects with the local supplier/ partners for putting forward their best offers related to Travel; Entertainment; Food & Beverages and Lifestyle and does all the backend job so that our user gets the hassle free best of the options to choose from per their liking and budget of the respective destination.
            Upon booking the package, user makes payment through HQbe and is assured of the trip through our verified suppliers/ partners. Once the service is complete, the user can put their review on HQbe platform, thus providing the local supplier/ partner an opportunity to know and/or improve their services in case of any concerns raised by the user.</p>
        </div>
      </div>

      <div class="package-content" >
        <div class="section-header">
          <h2>General Information</h2>
          <p class="section-header__info"></p>
        </div>
        <div class="section-content">
          <h3>Do I need to bring the booking voucher along?</h3>
          <p>
            Yes. Please carry a printout/ email of the booking voucher with you.
          </p>
          <h3>Do you provide activities on Black Out Dates/ Public Holidays?</h3>
          <p>You can check the availability of any activity by clicking on the experiential activities tab.</p>
          
          <h3>I’m not sure of my travel date, can I book an activity and leave it open dated?</h3>
          <p>Travel packages provided by HQbe require a date designated for the travel supplier to cater the guests.</p>
          
          <h3>Can I book an activity when I reach the destination?</h3>
          <p>HQbe listed products can only be booked online. It is recommended you pre-book your activity to avoid disappointment as many of the HQbe products are popular and get sold out in advance.</p>
          <h3>Will I get a cab for sightseeing at my disposal?</h3>
          <p>Transportation is provided only as per the itinerary of the package. It is available for point to point sightseeing. In case you wish to use it apart from the itinerary inclusion, it will be charged separately.</p>
          
          <h3>Will I get a guide to accompany me for my holiday?</h3>
          <p>Yes, you can get a guide for your holiday by paying an additional cost in case it's not a group package.</p>
          
          <h3>Do I require any photo identification for traveling?</h3>
          <p>Yes, the travel provider requires valid photo ID proof such as a passport, driver's license or any other form of identification displaying a current photo of the lead traveler in the booking. It is required to protect your purchase.</p>
          
          <h3>What safety measures should I take while travelling?</h3>
          <ul>
            <li>Keep valuables like cash, travellers cheque, passport and ticket in your handbag or luggage at all times.</li>
            <li>Do not keep all the money, travellers cheques and credit cards in one wallet/purse or pocket. Disperse them at different places so that you won't be penniless in the case of theft or misplacement of wallet.</li>
            <li>Hold your bags cautiously or keep them fastened at crowded places like stations or sightseeing spots.</li>
            <li>Avoid carrying too much money during sightseeing or lone excursions.  Never leave your bags unattended, even in the coach.</li>
            <li>Pack your baggage yourself and label it with your name and contact details for easy identification.</li>
            <li>Do not accept any package from strangers or co-passengers.</li>
            <li>Ensure that your check-in bags have a locking facility.</li>
          </ul>
          <h3>Can I get a customized Activity/ Package for myself and/or my group?</h3>
          <p>HQbe offers a wide range of individual tours, events, and attractions, however, cannot arrange customized tours. If you require something different from what's available in our product range.</p>
          
          <h3>Hotel/ Supplier is not responding what should I do?</h3>
          <p>You can drop an email to care@hqbe.in mentioning your Booking Voucher ID and contact details. We will try to ask the supplier to get in touch with you as soon as possible.</p>
          
          <h3>Are the activity providers safe and trustworthy?</h3>
          <p>We do our best to curate listings submitted by our vendors. Before an experience is listed, we connect over call or meet the suppliers in person. However, due to the unpredictable nature of things, HQbe does not assume liability for anything that happens at an activity. Guests and Suppliers enter into an agreement with each other, and this should be done at your own discretion.</p>
          
          <h3>What types of transportation is used in tours and packages?</h3>
          <p>For large groups, coach transportation is used. For small groups or individual tour packages, mini coach/van transport is offered. SIC (Seat in coach) transfers operate at fixed times and involve a pooling of passengers. In case of private transfer, it works as per the itinerary.</p>
           
          <h3>Whom can I call or contact in case of emergency?</h3>
          <ul>
            <li>Keep the contact numbers of our service partners handy at all times. They would be your primary helpers in the case of a rare event. Their numbers are mentioned in your travel documents.</li>
            <li>You can also contact our customer service centre for help at +91 9811 350 512.</li>
          </ul>
          <h3>What information can I browse through without registering on your website?</h3>
          <p>You can check the package details being offered for the destinations worldwide. We also have a social media presence. Follow HQbeClub on Facebook; Instagram or Twitter page for updates and offers.</p>
        </div>
      </div>
      
      <div class="package-content" >
        <div class="section-header">
          <h2>Booking and cancellation</h2>
          <p class="section-header__info"></p>
        </div>
        <div class="section-content">
          <h3>How to book a package/ activity?</h3>
          <p>On the main/ landing page there are few segments from which once can choose per their liking and further there would be multiple offers listed in that segment. User may choose anyone per their liking and budget. You will have to sign up to create an account on our site & further make the payment book your choice of package.</p>
          
          <h3>What happens if a activity booking is Rejected/Failed?</h3>
          <p>When the activity booking gets rejected/failed, the refund is initiated immediately. Please allow your bank 02 to 07 days to credit the amount to your account.</p>
          
          <h3>What happens if I cancel or do not show up for an activity booked?</h3>
          <p>Make sure that you read the cancellation policy carefully for the activity booked. Cancellation charges may apply, the remaining money will be refunded to your mode of payment once you cancel the booking with us.
           
          No money will be refunded in case of a no-show.</p>
          
          <h3>When do I receive confirmation of my activity booking?</h3>
          <p>The confirmation process depends on the booking conditions. These are explained in the Additional Information field located on the activity information page. Most activities are confirmed at time of booking. However, others will be advised to you within 12-48 hours. If confirmation or otherwise is not received within 48 hours, please contact on care@hqbe.in for further assistance.</p>
          
          <h3>Can I change the booking dates?</h3>
          <p>Date can be changed 30 days prior to the travel date, for the stay arrangement only; however any booking related to activities/ excursions/ travel tickets cannot be modified. The stay changes are possible as per the availability with the supplier and the terms and conditions applicable.</p>
          
          <h3>Can I cancel my holiday tour midway?</h3>
          <p>Yes, you can. But, the amount paid for the package would be non-refundable.</p>
          
          <h3>What is your Cancellation Policy?</h3>
          <p>HQbe ensures that it delivers great customer experience. However, there may arise cases where dissatisfaction is expressed for our offerings in terms of products and services.
            
          In case of International Packages, HQbe or its affiliate partners will not be liable for any Visa rejections and Hotel cancellation policies would still stand as they are</p>
            
          
          <h3>What is your Refund Policy?</h3>
          <p>All refunds are processed within 21 days to the traveller from the day of cancellation of travel package. </p>
        </div>
      </div>
  
      <div class="package-content" >
        <div class="section-header">
          <h2>Payments</h2>
          <p class="section-header__info"></p>
        </div>
        <div class="section-content">
          <h3>What are the different modes of payment for booking a trip on HQbe?</h3>
          <p>We have various payment options to give you a delightful booking experience:</p>
            <ul>
              <li>Debit/ Credit Cards</li>
              <li>Net Banking</li>
              <li>NEFT Transfer</li>
              <li>UPI Payment</li>
              <li>Online Wallet</li>
            </ul>
      
          <h3>Is it safe to use my debit/credit card on HQbe?</h3>
          <p>Yes, it is absolutely safe to use your card on https://hqbe.in. A recent directive from RBI makes it mandatory to have an additional authentication pass code verified by VISA (VBV) or MSC (Master Secure Code) which has to be entered by buyers while paying online using visa or master credit card. It means extra security for customers, thus making online transactions safer. </p>
      
          <h3>What is EMI related procedure?</h3>
          <p>The EMI option is available on your Credit Card payment per your bank policy & offerings.</p>
          
          <h3>Does HQbe offer any deal/discount(s)?</h3>
          <p>Please check our website for current promotional offer(s)/discount(s). You can also write to us at  care@hqbe.in to know more about it.</p>
          
        </div>
      </div>
      
      <div class="package-content" >
        <div class="section-header">
          <h2> Support and Feedback</h2>
          <p class="section-header__info"></p>
        </div>
        <div class="section-content">
          <h3>How can I get in touch with HQbe?</h3>
          <p>You can write to us at care@hqbe.in or give us a call at +91 9811 350 512 between 10 am to 8 pm.</p>
          
          <h3>How can I write a review/feedback for my trip?</h3>
          <p>Team HQbe sends a feedback form within 7 days to the package end date.The review scores are calculated basis the feedback given.</p>
          
        </div>
      </div>
  
    </div>
  </section>
</div>