<div class="page-hero__none"></div>

<div id="content" class="page-package">
  <section class="page-section">
    <div class="container clearfix">
      <div class="section-header">
        <h2>My Profile</h2>
        <p></p>
      </div>
      
      <div class="custom-form login-form">
        <form >

          <div class="row">
            <div class="col-md-6 col-sm-12">
              <p>Please review your details</p>
              <div class="field-group">
                <input type="text" [(ngModel)]="userName" name="userName" placeholder="Your Name" class="field-input required" />
              </div>
              <div class="field-group">
                <input type="text" [(ngModel)]="userMobile" name="userMobile" placeholder="Your Mobile" class="field-input required" />
              </div>
              <div class="field-group">
                <input type="text" [(ngModel)]="userEmail" name="userEmail" placeholder="Your Email" class="field-input required" />
                <input type="button" (click)="updateDetails()" value="Submit" class="link-btn link-btn__submit disabled" />
              </div>
            </div>
          </div>

          <div class="clearfix"></div>
          <div class="form-submit-errors" tabindex="0" style="display: block;" *ngIf="errors.length">
            <p *ngFor="let item of errors"> {{item}}</p>
          </div>
          

        </form>

      </div>
    </div>
  </section>
</div>